{% load static %}

<aside class="col-3 overflow-auto back_color rounded">
    <img src="{% static 'media/my_face.jpg' %}" alt="my photo" class="img-fluid rounded my-3  mx-auto" />

    <!-- contacts -->
    <div class="conteiner my-3 p-2 text-truncate">
        <h3 class="text-center text-decoration-underline">Contacts</h3>
        <p class="mx-auto mb-1">
            <a href="tel:+380661426340" class="p-2">
                <span class="fw-bold me-1">P: </span>
                +3806<span style="display: none;">shjooss</span>6142<span style="display: none;">soos</span>6340
            </a>
        </p>

        <p class="mx-auto mb-1">
            <a href="mailto: valoliinykov.work@gmail.com" class="p-2">
                <span class="fw-bold me-1">E: </span>
                valo<span style="display: none;">shj7ooss</span>liinykov.wor<span
                    style="display: none;">shjo4os345s</span>k@gm<span style="display: none;">shjoo456ss</span>ail.com
            </a>
        </p>

        <p class="mx-auto mb-1">

            <a href="https://t.me/val_olein" class="p-2">
                <span class="fw-bold me-1">T: </span>
                Telegram
            </a>
        </p>
    </div>


    <!-- tech skils -->
    <div class="conteiner my-4 pt-2">
        <h3 class="text-center text-decoration-underline">Tech Skils</h3>
        <ul class="mx-auto">
            <li> Ptyhon3</li>
            <li> SQL</li>
            <li> Git/Github</li>
            <li> HTML</li>
            <li> CSS</li>
            <li> REST API </li>
            <li> Heroku </li>
        </ul>
    </div>

    <!-- soft skils -->
    <div class="conteiner my-4 pt-2">
        <h3 class="text-center text-decoration-underline">Soft Skils</h3>
        <ul class="mx-auto">
            <li>Scrum</li>
            <li>Agile </li>
            <li>GTD </li>
            <li>Teamwork </li>
        </ul>
    </div>
</aside>