{% extends "base.html" %}

{% block title %} About Me {% endblock %}


{% block content %}

<div class="container-fluid row">

  <!-- sidebar -->
  {% include "about_me/bit_sidebar.html" %}

  <!-- main content -->
  <div class="container-fluid col">
    <!-- about me -->
    <div class="container m-3 my-5">
      <h2 class="fs-5 fw-bold text-start mt-3 p-3">Back-End Developer, Software Developer</h2>
        <h1 class="fs-1 fw-bold text-center mt-3 p-3">Valentin Oliinykov</h1>

          <section id="about-me">
            <p style="text-indent: 16px;">
              I have been studying programming since 2018. Initially, it was just a hobby, but in 2022 it became my profession and primary focus. My technical skills include proficiency in <strong>Python 3</strong>, <strong>SQL</strong>, <strong>HTML</strong>, and <strong>Docker</strong>, along with a basic understanding of <strong>C</strong>. I have mastered frameworks and libraries such as <strong>Flask</strong>, <strong>FastAPI</strong>, <strong>Django</strong>, <strong>Aiogram</strong>, and <strong>SQLAlchemy</strong>.
            </p>
            <p style="text-indent: 16px;">
              My portfolio features several projects that I developed. While I primarily worked on them independently, I also have experience collaborating in teams. These experiences helped me build strong technical skills, organizational discipline, and accountability. In addition, I have experience teaching the basics of Python programming, which has improved my knowledge and communication skills.
            </p>
            <p style="text-indent: 16px;">
              My goal is to join a reputable company where I can apply my skills and expertise to achieve excellent results and grow professionally in the long term.
            </p>
          </section>
    </div>

    <!-- my projects -->
    <div class="container mx-3 my-5">
      {% include "about_me/bit_projects.html" %}
    </div>

    <!-- work expiriens -->
    <div class="container mx-3 my-5">
      <h3 class="ps-5 text-decoration-underline fw-bold">Work Experience</h3>

      <!-- company 4 -->
      <div class="col">
        <h4 class="fs-5 fw-bold text-primary">Python Basics Teacher (part-time):
          <a href="https://goiteens.com/course/python/" target="_blank" class="link-dark fst-italic">GoITeens</a>
        </h4>
        <p class="text-secondary" style="font-size: 14px;"> April 2024 - Today | Ukraine</p>

        <ul>
          <li>Taught Python fundamentals to students aged 14–16.</li>
        </ul>
      </div>

      <!-- company 3 -->
      <div class="col">
        <h4 class="fs-5 fw-bold text-primary">Back-end Developer:
          <a href="https://dzencode.com/ua/" target="_blank" class="link-dark fst-italic">Dze<span style="display: none;">schoozes</span>ncode</a>
        </h4>
        <p class="text-secondary" style="font-size: 14px;"> April 2023 - February 2024 | Ukraine</p>

        <ul>
          <li>API</li>
          <li>GRPC</li>
          <li>Telegram bots</li>
          <li>Map service</li>
        </ul>
      </div>

      <!-- company 2 -->
      <div class="col">
        <h4 class="fs-5 fw-bold text-primary">Software Engineer in Industrial Applications:
          <a href="http://highvoltage.org.ua/" target="_blank" class="link-dark fst-italic">OOO "Torsion Plus"</a>
        </h4>
        <p class="text-secondary" style="font-size: 14px;">2019 - February 2022, 2024 | Ukraine</p>

        <ul>
          <li>Helper scripts</li>
          <li>Specialized software</li>
        </ul>

      </div>

      <!-- company 1 -->
      <div class="col">
        <h4 class="fs-5 fw-bold text-primary">Back-End Developer:
          <span class="fst-italic text-body">BeBrainee</span>
        </h4>
        <p class="text-secondary" style="font-size: 14px;"> September - December 2022 | Ukraine</p>

        <ul>
          <li>Back-End development: FastAPI, Postgresql, pytest</li>
          <li>Scraping</li>
          <li>Explain (analyze) sql query</li>
        </ul>

      </div>

      <!-- company 0 -->
      <div class="col py-2">
        <h4 class="fs-5 fw-bold text-primary">Electronics Engineer:
          <a href="http://highvoltage.org.ua/" target="_blank" class="link-dark fst-italic">OOO "Torsion Plus"</a>
        </h4>
        <p class="text-secondary" style="font-size: 14px;">February 2014 - February 2022 | Ukraine</p>

        <ul>
          <li>Working with documentation</li>
          <li>Development and assembly of printed circuit boards and electronic blocks</li>
          <li>Adjuster of electronic equipment</li>
        </ul>

      </div>

    </div>

    <!-- education -->
    <div class="container mx-3 my-5">
      <h3 class="ps-5 text-decoration-underline fw-bold">Education</h3>

      <div class="col my-3">
        <p class="text-primary my-0 fw-bold">Kharkiv National University of Radio Electronics</p>
        <p class="my-0">Engineer of electronic devices and systems</p>
        <p class="text-secondary my-0" style="font-size: 14px;">2008 - 2013</p>
      </div>

      <div class="col my-3">
        <p class="text-primary my-0 fw-bold">cource: ITEa</p>
        <p class="my-0">Python advanced courses (Python3, Django)</p>
        <p class="text-secondary" style="font-size: 14px;">2019</p>
      </div>

      <div class="col">
        <p class="text-primary my-0 fw-bold">cource: BeBrainee</p>
        <p class="my-0">Theory and practice (C, Python3)</p>
        <p class="text-secondary" style="font-size: 14px;">2022</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}