{% extends "base.html" %}

{% block title %} About Me {% endblock %}


{% block content %}

<div class="container-fluid row">

  <!-- sidebar -->
  {% include "about_me/bit_sidebar.html" %}

  <!-- main content -->
  <div class="container-fluid col">
    <!-- about me -->
    <div class="container m-3 my-5">
      <h3 class="fs-5 fw-bold text-start mt-3 p-3">Back-End Developer, Software Developer</h2>
        <h1 class="fs-1 fw-bold text-center mt-3 p-3">Valentyn Oliinykov</h1>
        <p>
          I have been studying programming since 2018 years but until 2022 it was my hobby.
          Coming to my skils I know Python3, SQL, HTML, CSS, base C. I have mastered Flask, FastAPI, Django. I did 4
          sucsessful projects. One of them is team project. Due to this I am good at core technical skils,
          organizational ethics and discipline. My goal is to get a job in a reputed company, where I can use my skills
          and knowledge to deliver good result in the long term.
        </p>
    </div>

    <!-- my projects -->
    <div class="container mx-3 my-5">
      {% include "about_me/bit_projects.html" %}
    </div>

    <!-- work expiriens -->
    <div class="container mx-3 my-5">
      <h3 class="ps-5 text-decoration-underline fw-bold">Work Experience</h3>
      <!-- company 0 -->
      <div class="col py-2">
        <h4 class="fs-5 fw-bold text-primary">Electronics Engineer:
          <a href="http://highvoltage.org.ua/" target="_blank" class="link-dark fst-italic">OOO "Torsion Plus"</a>
        </h4>
        <p class="text-secondary" style="font-size: 14px;">February 2014 - February 2022 | Ukraine</p>

        <ul>
          <li>Working with documentation</li>
          <li>Development and assembly of printed circuit boards and electronic blocks</li>
          <li>Adjuster of electronic equipment</li>
        </ul>

      </div>
      <!-- company 1 -->
      <div class="col">
        <h4 class="fs-5 fw-bold text-primary">Software Developer (part time):
          <a href="http://highvoltage.org.ua/" target="_blank" class="link-dark fst-italic">OOO "Torsion Plus"</a>
        </h4>
        <p class="text-secondary" style="font-size: 14px;">2019 - February 2022 | Ukraine</p>

        <ul>
          <li>Helper scripts</li>
          <li>Specialized software</li>
        </ul>

      </div>
      <!-- company 2 -->
      <div class="col">
        <h4 class="fs-5 fw-bold text-primary">Back-End Developer:
          <span class="fst-italic text-body">Freelance</span>
        </h4>
        <p class="text-secondary" style="font-size: 14px;"> September - December 2022 | Ukraine</p>

        <ul>
          <li>Back-End development: FastAPI, Postgresql, pytest</li>
          <li>Scraping</li>
        </ul>

      </div>
    </div>

    <!-- education -->
    <div class="container mx-3 my-5">
      <h3 class="ps-5 text-decoration-underline fw-bold">Education</h3>

      <div class="col my-3">
        <p class="text-primary my-0 fw-bold">Kharkiv National University of Radio Electronics</p>
        <p class="my-0">Engineer of electronic devices and systems</p>
        <p class="text-secondary my-0" style="font-size: 14px;">2008 - 2013</p>
      </div>

      <div class="col my-3">
        <p class="text-primary my-0 fw-bold">cource: ITEa</p>
        <p class="my-0">Python advanced courses (Python3, Django)</p>
        <p class="text-secondary" style="font-size: 14px;">2019</p>
      </div>

      <div class="col">
        <p class="text-primary my-0 fw-bold">cource: BeBrainee</p>
        <p class="my-0">Theory and practice (C, Python3)</p>
        <p class="text-secondary" style="font-size: 14px;">2022</p>
      </div>
    </div>

  </div>

</div>
{% endblock %}