{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="col-2 back_color rounded text-truncate ">
    <h3 class="text-center text-decoration-underline mt-2 py-2 overflow-auto">Categories:</h3>
    <ul class="list-group py-1 back_color mx-4 overflow-auto">

        <li class="list-group-item py-1 back_color">
            <a href="{% url 'notes:site_category' category_name='All' %}">All</a>
        </li>

        {% for cat in categories%}
        <li class="list-group-item py-1 back_color">
            <a href="{% url 'notes:site_category' category_name=cat.name %}">{{ cat.name }}</a>
        </li>
        {% endfor %}

    </ul>
</div>

<div class="col m-3 overflow-auto">
    <h3 class="text-decoration-underline mx-4 ">{{category}} Links:</h3>
    <table class="table">
        {% for site in sites %}
        <tr>
            <td>{{site.title}}</td>
            <td>
                <a href="{{site.url}}" target="_blank">{{site.url}}</a>
            </td>
            <td>
                {{site.description}}
            </td>
            {% if user.is_authenticated %}
            <td class=""> <a href="/admin/notes/sitenote/{{ site.id }}/change/">
                    <button class="btn btn-primary btn-sm">Change/Delete</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <!-- pagination -->
    <div class="text-center">
        {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}"> &lt; </a>
        &nbsp; | &nbsp;
        {% endif %}

        Part {{ page.number }} from {{ page.paginator.num_pages }}

        {% if page.has_next %}
        &nbsp; | &nbsp;
        <a href="?page={{page.next_page_number }}"> &gt; </a>
        {% endif %}
    </div>

    <!-- dump and load data in database -->
    {% if user.is_authenticated %}
    <span class="float-start m-3">
        <a href="{% url 'notes:sites_dump' %}">
            <button class="btn btn-primary">Create dump DB</button>
        </a>
    </span>

    <span class="float-start m-3">
        <a href="{% url 'notes:sites_load' %}"><button class="btn btn-primary">Load Database</button></a>
    </span>



    <!-- add site from Admin  -->
    <span class="float-end m-3">
        <a href="/admin/notes/sitenote/add/"><button class="btn btn-primary">Add Site</button></a>
    </span>
    {% endif %}

</div>

{% endblock %}