{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container-fluid m-5">
    <h2 class="text-center text-decoration-underline mb-2"> Login </h2>
    <div class="text-center d-flex justify-content-center">
        {% if user.is_authenticated %}
        <p class="p-3">You are already authenticated</p>
        {% else %}
        <form method="POST">
            {%csrf_token%}
            <table class="my-2">
                {{form.as_table}}
            </table>

            <input type="hidden" name="next" value="{{next}}">
            <input type="submit" class="btn btn-primary" value="Enter">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
