{% load static %}


<div class="container text-center">

    <div class="col-6">
        
        <div class="px-5 pt-3 text-start row">
            <span class="text-start mx-3 my-2">My contacts:</span>
            <div class="col">
                <ul class="list-group col">
                    <li class="list-group-item back_color">
                        <img src="{% static '/images/icons/tel.png' %}" alt="phone_icon" height="24">
                        <a href="tel:+380661426340">
                            +3806<span style="display: none;">shjooss</span>6142<span style="display: none;">soos</span>6340
                        </a>
                    </li>

                    <li class="list-group-item back_color">
                        <img src="{% static 'images/icons/mail.png' %}" alt="mail_icon" height="24">
                        <a href="mailto: valoliinykov.work@gmail.com">
                            My Email
                        </a>
                    </li>
                    <li class="list-group-item back_color">
                        <img src="{% static '/images/icons/telegram.png' %}" alt="telegram_icon" height="24">
                        <a href="https://t.me/val_olein">
                            My Telegram
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item back_color">
                        <a href="https://github.com/mertwec">
                            <img src="{% static '/images/icons/gith.png' %}" alt="github_icon" height="24">
                            My GitHub
                        </a>
                    </li>
                    <li class="list-group-item back_color">
                        <img src="{% static '/images/icons/linkedin.png' %}" alt="linkedin_icon" height="24">
                        <a href="https://www.linkedin.com/in/valentin-oliinykov">
                            My Linkedin
                        </a>
                    </li>
                    <li class="list-group-item back_color">
                        <img src="{% static '/images/icons/resume.png' %}" alt="linkedin_icon" height="24">
                        <a href="{% static '/images/downloads/CV.pdf' %}" download="valentin_oliinykov back-end.pdf">
                            My resume
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <p class="text-end me-5">© Valentin Oliinykov, Kharkiv 2025</p>

</div>