<div class="navbar">
    <ul class="nav nav-pills">
        <li class="active">
            <a class="brand" href="/">Home</a>
        </li>
        <li class="active">
            <a href="/notes/">Notes</a>
        </li>
        <li>
            <a href="/notes/sites/">Sites</a>
        </li>
        <!--         
        <li class="active">crib
            <ul>
                <li>sql</li>
                <li>python</li>
                <li>html</li>
            </ul> 
                </li>
         -->
        <li>about me</li>
    </ul>
</div>