:root {
  --font-size-text: 14px;
  --color-text: #161d2a
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: bisque;
  padding: 40px 40px 40px 40px;
  /* top, left, botom, right */
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: white;
  width: 1200px;
  margin: 0 auto;
  /*центрирование*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*рамка тень */
}

/* main content */
.main_content {
  padding: 100px;
  width: calc(100% - 370px);
}


/* about me */

.about-me-container {
  padding-bottom: 52px;
}

.my-profesion {
  margin: 0 0 18px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: var(--color-text);
  margin-bottom: 28px;
}


.about-me {
  width: 525px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* Projects */
.project-container {
  padding-bottom: 48px;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-list {
  padding: 0 0 0 18px;
  margin: 0px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005FFF;
}

/* Work Experience */
.work-experience-continer {
  margin-bottom: 44px;
}

.we-item {
  margin-bottom: 16px;
}

.we-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 12px 0 12px 0;
}

.we-position-company {
  color: #6D9BF5;
  text-decoration-line: underline;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin: 12px 0 8px 0;
}

.work-duties-list {
  padding: 0 0 0 18px;
  margin: 0px;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}


/* Education */

.education-container {
  margin: 44px 0 44px 0;
}

.education-item {
  margin: 0;
  padding: 12px 0 0 0;
}

.education-company {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6D9BF5;
  margin: 0 0 12px 0;
}

.education-special {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
}



/* sidebar */
.sidebar {
  width: 370px;
  background: #b1ccff;
}

.my-photo {
  margin: 10px;
}

.contacts-conteiner,
.skils-conteiner {
  margin: 40px 0 0 40px;
}

.sidebar-titles {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--font-size-text);
  margin-bottom: 8px;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-text);
  line-height: 24px;
  color: var(--color-text);
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 24px;
  color: var(--color-text);
}

.contacts-url {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 24px;
  color: #2979FF;
}

/* skils */

.skils-list {
  margin: 0;
  padding: 0 0 0 16px;
}

.skils-list-item {
  color: #6D9BF5;
}

.skils-list-text {
  font-weight: 400;
  font-size: var(--font-size-text);
  line-height: 24px;
  color: var(--color-text);

}