<div class="container-fluid" style="text-indent: 16px;">
    <h5>Used:</h5>
    <table class="table">
        <tr>
            <th scope="row">Language</th>
            <td>Python3</td>
        </tr>
        <tr>
            <th scope="row">Frameworks</th>
            <td>Flask, SQLAlchemy, unittest</td>
        </tr>
        <tr>
            <th scope="row">GitHub</th>
            <td><a href="https://github.com/mertwec/system_of_components" target="_blank">system_of_components</a></td>
        </tr>
    </table>

    <h5>Description:</h5>
    <p>An application for managing the picking of electronic components in stock.</p>
    <p>Provides automatic counting of the remaining parts in stock when assembling boards. Adding components based on
        the list of PCB elements.</p>

    <p>The application is implemented as a website. Deployed on a local server, for internal use only.</p>

</div>