{% load static %}

<div class="container-fluid">
    <div style="text-indent: 16px;">
        <table class="table">
            <h5>Used:</h5>
            <tr>
                <th scope="row">Language</th>
                <td>Python3</td>
            </tr>
            <tr>
                <th scope="row">Libraries</th>
                <td>Tkinter, threading, minimalmodbus, RPi.GPIO, smbus</td>
            </tr>
            <tr>
                <th scope="row">OS</th>
                <td>Raspberry Pi OS</td>
            </tr>
            <tr>
                <th scope="row">Device</th>
                <td><a href="https://www.raspberrypi.com/products/raspberry-pi-4-model-b" target="_blank">"Raspberry
                        Pi4" model B</a></td>
            </tr>
        </table>
        <h5>Description:</h5>
        <p> Control panel for the voltage source of the welding machine for welding in outer space.
            The control panel is located inside the space module and it is a backup controller.</p>
        <p>The display shows information about the system. </p>
        <figure class="text-center">
            <img src="{% static 'images/projects/display.png' %}" alt="display" class="img-fluid">
            <figcaption>Demo of display the control panel</figcaption>
        </figure>
        <ul>
            <p>On the console are control elements:</p>
            <li>switch for setting the welding current</li>
            <li>emergency switch off</li>
            <li>button on/off voltage</li>
            <li>button on/off filament current</li>
            <li>button on/off welding current</li>
        </ul>
    </div>
</div>