{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container-fluid row justify-content-center  my-5 ">
    {% if error_message %}
    <p class="text-center text-danger">{{error_message}}</p>
    {% endif %}

    <div class="d-flex flex-row-reverse">
        <a class="nav-link active" href="{% url 'news:delete_old_news' %}">
            <button class="btn btn-primary m-2">Delete old news</button>
        </a>
        <a class="nav-link active" href="{% url 'news:get_latest_news' %}">
            <button class="btn btn-primary m-2">Check latest news</button>
        </a>
    </div>

    <div class="container-fluid row">
        {% for item_news in news %}
        <div class="col-sm-4 my-2">
            <div class="card my-2 p-1 h-100">
                <img src="{{item_news.image_url}}" class="card-img-top rounded mx-auto" alt="{{item_news.title}}">
                <h5 class="card-title">{{item_news.title}}</h5>
                <p class="card-text text-end fst-italic text-muted pt-3">{{item_news.added_at}}</p>
                <a href="{{item_news.url}}" target="_blank" class="btn btn-primary mt-auto">Read news</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- pagination -->
    <div class="text-center">
        {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}"> &lt; </a>
        &nbsp; | &nbsp;
        {% endif %}

        Part {{ page.number }} from {{ page.paginator.num_pages }}

        {% if page.has_next %}
        &nbsp; | &nbsp;
        <a href="?page={{page.next_page_number }}"> &gt; </a>
        {% endif %}
    </div>

</div>
{% endblock%}